table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  tr th {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #eeeeee;
    text-align: center;
    background-color: rgba(217, 221, 146, 0.2);
  }
  
  tr td {
    border: 2.5px solid #eeeeee;
    text-align: left;
  }
  
  input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 96%;
    padding: 12px 12px;
    font-family:"Noto Sans", sans-serif;
  }

.table_question_container {
  display: block;
  width: 92%;
}
  