h2 {
    font-family:"Noto Sans", sans-serif;
}

h3 {
    font-family:"Noto Sans", sans-serif;
}

.individual_petition_form_wrapper {
    margin-top: 100px;
    overflow-y: auto;
}

.form_wrapper {
    top: 10%;
    left: 10%;
    overflow: auto;
    padding-bottom: 50px;
}